a {
  color: white;
  text-decoration: none;
}
ul {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Edu AU VIC WA NT Hand", cursive;
}

.btn {
  display: inline-block;
  padding: 10px;
  border: 1px solid rgb(110, 4, 4);
  background-color: rgb(18, 21, 206);
  margin: 10px;
  border-radius: 15px;
  color: white;
}
.btn:hover{
  background-color: rgb(0, 255, 0);
  color: blue;
  cursor: pointer;
  border: 1px solid white;
}
.btn-wide {
  width: 80%;
  text-align: center;
}
.text-center {
  text-align: center;
  margin: 5px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-20{margin-top: 20px;}
