/* Texts */

.text-center{
    text-align: center;
}

.heading-small{
    font-size: 1.25rem;
}
.heading-medium{
    font-size: 1.5rem;
}
.heading-big{
    font-size: 1.75rem;
}


/* Colors */

.bg-dark-blue{
    background-color: rgb(4, 4, 97);
}
.bg-light-blue{
    background-color: rgb(59, 59, 223);
}

/* Container */

.container{
    max-width: 1100px;
    margin: 0 auto;
}