/* Texts */

.text-center {
  text-align: center;
}

.heading-small {
  font-size: 1.25rem;
}
.heading-medium {
  font-size: 1.5rem;
}
.heading-big {
  font-size: 1.75rem;
}

/* Colors */

.bg-dark-blue {
  background-color: rgb(4, 4, 97);
  color: #fff;
}
.bg-light-blue {
  background-color: rgb(59, 59, 223);
}

/* Container */

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Butonlar */

.btn {
  margin-top: 1.25rem;
  padding: 0.8rem 3rem;
  border-radius: 10px;
  letter-spacing: 2px;
}

.btn-primary {
  background-color: rgb(59, 59, 223);
}
.btn-primary:hover {
  color: rgb(59, 59, 223);
  background-color: #fff;
  border: 1px solid rgb(59, 59, 223);
}

.btn-dark{
    background-color: rgb(4, 4, 97);
    color: white;
}
.btn-dark:hover{
    background-color: white;
    color: rgb(4, 4, 97);
    border: 1px solid rgb(4, 4, 97);
}

.btn-block{
    width: 100%;
    text-align: center;
}
.btn-block:hover{
  background-color: #00ff40;
  cursor: pointer;
}

.margin-bottom{
  margin-bottom: .3rem;
}
.letter-space{
  letter-spacing: 1.3px;
}
.small-font-size{
  font-size: .8rem;
}

/* Forms */
.form-group{
  padding: .25rem 0;
}
.form-group label{
  display: block;
}
.form-group .form-control{
  width: 100%;
  padding: .25rem;
  border-radius: 5px;
  font-size: 1rem;
  /* özellikle mesaj kutusu yeniden boyutlandırılmasın */
  resize: none;
}