html{
    font-family: "Oswald", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
}

/* Navbar */
#navbar{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .75rem;
    height: 70px;
}

#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a{
    padding: .75rem;
}
#navbar ul li a:hover{
    background-color: rgb(59, 59, 223);
    border-radius: 10px;
}

/* Home Bölümü */

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 2px solid orange;
}

#home img{
    max-width: 40%;
    height: auto;
    border-radius: 100%;
}

#home .name h2{
    margin-bottom: .75rem;
}

#home .name p{
    opacity: .7;
    font-style: italic;
}

/* Training */

#training{
    padding: 1rem;
}
#training .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#training .items .item{
    width: 33%;
    text-align: center;
    padding: .5rem;
}
#training .items .item:hover{
    color: #bbb5b5;
    cursor: pointer;
}

/* Courses */

#courses{
    color: #333;
    padding: 1rem;
}
.courses{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.courses .course{
    display: flex;
    padding: .5rem;
    margin-bottom: .5rem;
}

.courses .course .course-image{
    margin-right: 1rem;
    position: relative;
}
.courses .course .course-image{
    margin-right: 1rem;
    position: relative;
}
.courses .course .course-image img{
    border-radius: 5px;
}
.courses .course .course-image span{
    position: absolute;
    background-color: red;
    padding: .2rem;
    color: #fff;
    border-radius: 10px;
    top: 20px;
    left: 0;
}
.courses .course .course-info .title{
    font-weight: 700;
}
.courses .course .course-info .description{
    opacity: .8;
}
.courses .course .course-info .rating{
    opacity: .7rem;
}

/* Contact */

#contact{
    padding: 1rem;
}
#contact .contact-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
#contact .contact-form ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 1rem;
    align-self: center;
}
#contact .contact-form ul li a{
    padding: 1rem;
    font-size: 2rem;
}
#contact .contact-form ul li a:hover{
    cursor: pointer;
    opacity: .7;
}